.block-wrap {
  max-width: 1124px;
  width: 100%;
  margin: 24px auto;
  border-radius: 2px;
  border: 1px solid #eee;
  background-color: #fff;

  .block-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
  }

  .block-left {
    display: flex;
    align-items: center;
    border-right: 1px solid #f7f7f7;
    .block-content {
      .small-text {
        font-size: 12px;
        color: #d4d4d4;
        line-height: 1;
        white-space: nowrap;
        margin-bottom: 5px;
        padding-left: 35px;
      }
      .block-input {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .website-icon {
          font-size: 30px;
          color: #797d80;
          margin-right: 10px;
        }
        input {
          display: block;
          width: 100%;
          height: 28px;
          font-size: 20px;
          padding: 2px 8px;
          border: 1px solid #d1d1d1;
          &::placeholder {
            color: #797d80;
          }
        }
      }
      .block-content__inform {
        display: flex;
        align-items: center;
        .inform-left {
          color: #d4d4d4;
          padding-right: 70px;
          border-right: 1px solid #f7f7f7;
          p {
            &:nth-child(2) {
              margin-top: 5px;
            }
            display: flex;
            align-items: center;
            span {
              font-size: 18px;
              margin-right: 17px;
            }
            font-size: 14px;
            color: #a4a6a8;
          }
        }
        .inform-right {
          color: #d4d4d4;
          padding-left: 25px;
          p {
            &:nth-child(2) {
              margin-top: 5px;
            }
            display: flex;
            align-items: center;
            span {
              font-size: 18px;
              margin-right: 17px;
            }
            font-size: 14px;
            color: #a4a6a8;
          }
        }
      }
    }
  }
  .block-right {
    display: flex;
    align-items: center;
    padding-left: 25px;
    justify-content: space-between;
    .qr-scans {
      h1 {
        color: #797d80;
        font-size: 25px;
        font-weight: 600;
      }
      p {
        font-size: 14px;
        color: #a4a6a8;
        line-height: 1;
        cursor: default;
      }
      .link {
        margin-top: 20px;
        a {
          color: #47bdef;
          font-size: 15px;
          font-weight: 600;
          text-decoration: none;
          transition: 0.2s;
        }
      }
    }
    .btn-wrap {
      .download-btn {
        cursor: pointer;
        width: 170px;
        height: 44px;
        border: 2px solid #eaeaea;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
        background: #fff;
        color: #47bdef;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        &:hover {
          background: #25acdd;
          color: #fff;
        }
      }
      .actions {
        margin-top: 15px;
        svg {
          font-size: 22px;
          cursor: pointer;
        }
      }
    }
  }
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modalWrapper {
  padding: 10px 20px;
  width: max-content;
  display: flex;
  .colors {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 20px;
    .color {
      box-sizing: border-box;
      // padding: 0 10px;
      min-width: 200px;
      .react-colorful {
        width: 100%;
      }
      h1 {
        font-size: 14px;
        font-weight: 600;
        color: #797d80;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 15px;
      }
    }
  }
  .modal-qr {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .save {
      width: 100%;
      cursor: pointer;
      width: 100%;
      font-size: 20px;
      height: 35px;
      color: white;
      background: #00bfff;
      border-radius: 10px;
      border: 0;
      margin-top: 20px;
      &:hover {
        background: #2abbeb;
      }
    }
  }
}
