
.wrappers{
    width: 100%;
    display: flex;
    height: calc(100vh - 72px);
    position: relative;
    .sidebar{
        height: 100%;
        width: 280px;
        position: absolute;
        left: 0;
        top: 0;
        transition: all linear 0.7s;
    }
    .lists{
        height: 100%;
        position: absolute;
        left: 280px;
        width: calc(100% - 280px);
        top: 0;
         transition: all linear 0.7s;
    }

    .sidebar.active{
        left: -280px;
        
    }
    .lists.act{
        left:0;
        width: 100%;
    }
}